.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.idea
cmake-build-debug/
cmake-build-debug-coverage/

Lab2-4
lab1_oop/
lab6_oop
lab13_14/
lab10_11/
lab8_9/
lab2_4_oop
Lab2-4/
x64/
*.exe
.log
.opencppcv/
CMakeLists.txt
